
*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(3, 3, 87);
    align-items: center;
    padding: 10px 200px;
    border-bottom: 4px solid rgba(245, 245, 245, 0.622);
    position: sticky;
    top: 0;
    z-index: 1;
}

nav > div > h2{
    color: white;
}

nav > ul{
    display: flex;
}

nav > ul > li{
    list-style-type: none;
    margin: 10px 5px;
}

nav > ul > li >a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    transition: 0.5s;
    border-radius: 5px;
}

nav > ul > li >a:hover{
    background-color: whitesmoke;
    color: black;
}
/* nav end  */

/* about section start  */

.aboutmain{
    margin: 100px auto;
    width: 900px;
    display: flex;
    border: 2px solid lime;
    padding: 50px;
    box-shadow: 4px 4px 4px 4px gray;

}

.abouttext{
    width: 500px;
    padding: 50px 0 0 60px;
}

.abouttext h2{
    font-size: 60px;
    color: red;
}

.abouttext p{
    margin: 30px 0;
    width: 350px;
    text-align: justify;
    color: gray;
    
}

.abouttext a{
    text-decoration: none;
    color: black;
    background-color: lime;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    border: 2px solid lime;
    transition: 0.5s;
}

.abouttext a:hover{
    color: black;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0);
}


.aboutimg{
    width: 400px;
}

.aboutimg > img{
    width: 100%;
    height: 100%;
}




/* footer section start  */

footer{
    background-color: #030357;
}
.footmain{
    width: 900px;
    margin: 0 auto;
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-gap: 50px;
    color: white;
}

.footmain h3{
    font-size: 25px;
    padding-bottom: 30px;
}

.footfirst:first-child p{
    margin-bottom: 50px;
    color: gray;
}

.footfirst p:nth-child(3){
    color: white;
}

.footsec a{
    text-decoration: none;
    color: white;
    margin: 5px 0;
    display: inline-block;
}

.foot3rd{
    padding-top: 50px;
}
.foot3rd a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 25px;
    margin-right: 10px;
    background-color: blue;
    padding: 8px;
    border-radius: 5px;
}

.foot3rd p{
    margin-bottom: 10px;
}

.foot3rd p:last-child{
    margin-top: 50px;
}

.foot3rd span{
    font-size: 22px;
    color: lime;
    margin-left: 5px;
    font-weight: bold;
    letter-spacing: 2px;
}