*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(3, 3, 87);
    align-items: center;
    padding: 10px 200px;
    border-bottom: 4px solid rgba(245, 245, 245, 0.622);
    position: sticky;
    top: 0;
    z-index: 1;
}

nav > div > h2{
    color: white;
}

nav > ul{
    display: flex;
}

nav > ul > li{
    list-style-type: none;
    margin: 10px 5px;
}

nav > ul > li >a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    transition: 0.5s;
    border-radius: 5px;
}

nav > ul > li >a:hover{
    background-color: whitesmoke;
    color: black;
}

/* nav end  */

.section5title{
    text-align: center;
    margin: 50px 0;

}

.section5title h2{
    font-size: 40px;
    color: red;
}

.section5title h3{
    font-size: 25px;
     color: gray;
     letter-spacing: 5px;
}


.section8main{
    width: 1000px;
    margin: 100px auto;
}

.section8formmap{
    display: flex;
}


.section8form{
    width: 600px;
    background-color: bisque;
}

.section8namemail{
    display: flex;
    
}

.section8namemail input{
    height: 40px;
    width: 200px; 
    margin: 0 20px;
    border: none;
    padding: 0 10px;
    border-radius: 5px;
}


.section8namemail h3{
    margin: 30px 20px 10px 20px;
}


.section8form > h3{
    margin: 20px 0 10px 20px;
}

.section8form > textarea{
    margin: 0 20px 0 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.section8subject{
    height: 40px;
    width: 77%; 
    margin: 0 20px;
    border: none;
    padding: 0 10px;
    border-radius: 5px;
}

.section8submit{
    color: white;
    background-color: blue;
    margin: 20px 0 0 20px;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.section8submit:hover{
    background-color: white;
    color: black;
}

.section8icon{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 60px 0;
}

.section8icon i{
    font-size: 20px;
    background-color: blue;
    color: white;
    padding: 20px;
    border-radius: 50%;
}

.section8icon h4{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}



/* footer start  */


footer{
    background-color: #030357;
}
.footmain{
    width: 900px;
    margin: 0 auto;
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-gap: 50px;
    color: white;
}

.footmain h3{
    font-size: 25px;
    padding-bottom: 30px;
}

.footfirst:first-child p{
    margin-bottom: 50px;
    color: gray;
}

.footfirst p:nth-child(3){
    color: white;
}

.footsec a{
    text-decoration: none;
    color: white;
    margin: 5px 0;
    display: inline-block;
}

.foot3rd{
    padding-top: 50px;
}
.foot3rd a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 25px;
    margin-right: 10px;
    background-color: blue;
    padding: 8px;
    border-radius: 5px;
}

.foot3rd p{
    margin-bottom: 10px;
}

.foot3rd p:last-child{
    margin-top: 50px;
}

.foot3rd span{
    font-size: 22px;
    color: lime;
    margin-left: 5px;
    font-weight: bold;
    letter-spacing: 2px;
}